!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{name: "description", content: "Bespoke software design and curiosities. Est. 2014"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %meta{content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %title= current_page.data.title || "Fancy Rabbit Software Co."
    = stylesheet_link_tag "normalize", "all"
    = javascript_include_tag  "all"
    = favicon_tag "images/favicon2.png"

  %body{class: page_classes}
    = yield
